@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

body {
    /* background-color: #111827;*/
    background-color: #1f2937;
    color: white;
    max-width: 80%;
    margin: auto;
    font-family: "Roboto";
}

.bg-container {
    padding-top: 10%;
}

#head-para {
    font-weight: 500 !important;
    color: #d5d4d8;
}

h1 {
    font-weight: bold !important;
    font-size: 2.8rem;
}

.highlight {
    color: #58e087;
}

.password-btn {
    background-color: #42ba83;
    color: white;
    border: none;
    border-radius: 5px;
}

.password-btn:hover {
    background-color: #58e087;
    color: white;
    border: none;
    border-radius: 5px;
}



hr {
    background-color: #2f3e53;

}

.password {
    text-align: center;
    padding: 5%;
    margin-bottom: 10%;
    /*background-color: #273549;*/
    background-color: #273549;
    color: #58e087;
    border: none;
    border-radius: 5px;
    font-size: 13px;
}

.fa-ellipsis {
    color: black;
}

.fa-toggle-on {
    float: left !important;
}

.fa-toggle-off {
    color: #273549;
}